#loader {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;

  align-items: center;
  justify-content: center;
  color: white;
}
#box {
  display: flex;
}
#box p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bolder;
  line-height: 0.8rem;
  font-family: Roboto;
}
#box > div {
  transform-origin: bottom;
  margin: 0px 2px;
}
#box > div > div {
  width: 20px;
  height: 20px;
}
#l {
  animation: load 1s infinite alternate linear;
}
#o {
  animation: load 1s 200ms infinite alternate linear;
}
#a {
  animation: load 1s 400ms infinite alternate linear;
}
#d {
  animation: load 1s 600ms infinite alternate linear;
}
#i {
  animation: load 1s 800ms infinite alternate linear;
}
#n {
  animation: load 1s 1s infinite alternate linear;
}
#g {
  animation: load 1s 1200ms infinite alternate linear;
}
#l > div {
  background-color: rgb(184, 8, 8);
}
#o > div {
  background-color: rgb(20, 221, 70);
}
#a > div {
  background-color: rgb(218, 204, 20);
}
#d > div {
  background-color: rgb(43, 10, 228);
}
#i > div {
  background-color: rgb(9, 186, 240);
}
#n > div {
  background-color: rgb(134, 6, 240);
}
#g > div {
  background-color: rgb(228, 238, 229);
}
@keyframes load {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(3.4);
  }
}
