@import url("https://fonts.googleapis.com/css2?family=Raleway|Ubuntu|Lato|Roboto|Oswald");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.blurlayer{
  min-height: 100vh;
  background-color: rgba(0, 0, 0,0.5);
  
}
body {
  color: white;
  background-image:url("./components/bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
form {
  max-width: 1000px;
  margin: auto;
  /* margin-top: 100px; */
  
  padding: 30px;
  padding-top: 130px;
  font-family: Robotot, sans-serif;
}

form > p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
form > input {
  display: block;
  width: 100%;
  font-size: 1rem;
  height: 2rem;
  border: none;
  padding: 5px;
  outline: none;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}
h1 {
  font-size: 3rem;
  text-align: center;
  font-family: Roboto, sans-serif;
  padding: 20px;
  color: rgb(81, 255, 0);
  margin-bottom: 10px;
  font-weight: bolder;
  padding-bottom: 0px;
}
h2{
  font-size: 2rem;
  text-align: center;
  font-family: Roboto, sans-serif;
  padding: 20px;
  color: rgb(2, 205, 245);
  margin-bottom: 30px;
  font-weight: bold;
}
#container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
}
.dropdown {
  display: flex;
  margin: auto;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: Raleway;
}
#user{
border-radius: 20px;
padding: 5px 20px;
}
.dropdown > li,
select {
  position: relative;
  font-size: 1.3rem;
}
#results {
  text-align: right;
  padding: 10px;
  font-family: roboto;
  color: rgb(14, 14, 255);
  font-size: 1.3rem;
  font-weight: bolder;
}
.tags {
  color: black;
  padding: 3px 10px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.521);
}
select {
  border: none;
  background-color: white;
  outline: none;
  padding: 2px;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.521);
}
select > option {
  font-size: 0.8em;
  height: 1em;
}

ul {
  list-style-type: none;
}
.dropdown > li > ul {
  display: none;
  font-size: 0.8em;
}
.dropdown > li:hover > ul {
  display: block;
}
.searchProblem {
  width: 60%;
}
#searchProblem {
  width: 100%;
  outline: none;
  height: 2rem;
  font-size: 1.2rem;
  border: none;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 10px;
}
#dropbox {
  position: absolute;
  z-index: 1;
  right: 0px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(199, 211, 206);
}
#filterTags {
  height: 1.5rem;
  outline: none;
  border: none;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}
.filterTags {
  height: 10em;
  overflow-y: scroll;
}
.filterTags > li {
  margin: 7px ;
  border-bottom: 1px solid rgba(99, 99, 99, 0.308);
  text-transform: capitalize;
}
.filterTags li:first-child
{
  border-bottom: none;
}
.table-container {
  overflow-x:auto;
}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
  width: auto;
  min-width: 700px;
}
td,
th {
  white-space: nowrap;
  padding: 10px 10px;
  text-align: left;
  font-family: Roboto;
  cursor: pointer;
}
th {
  font-size: 1.4rem;
  color: rgb(120, 5, 197);
  border-bottom: 1px solid rgba(77, 74, 74, 0.24);
}

tr:nth-child(even) {
  background-color:rgb(143, 143, 143,0.3);
}

a {
  text-decoration: none;
  color: blue;
}
#number {
  font-weight: bolder;
  font-weight: bolder;
}
#status {
  color: green;
}
.status{
  font-size: 1rem;

}
#rating {
  color: rgb(2, 104, 27);
}
#count {
  color: rgb(161, 91, 0);
}
td {
  font-size: 1.1rem;
}
#pages {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 30px;
}
#pages > p {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#normal {
  background-color: green;
}
#highlight {
  background-color: greenyellow;
}
#diffrent {
  color: blue;
  margin: 10px 20px;
  cursor: pointer;
}
#notFound {
  font-size: 2rem;
  color: red;
  font-family: oswald, sans-serif;
  text-align: center;
}
.Showtags {
  display: flex;
  flex-wrap: wrap;
}
.Showtags > p {
  padding: 3px 8px ;
  border-radius: 3px;
  text-transform: capitalize;
  margin: 5px 10px;

  background-color: rgb(183, 183, 243);
}
.icon {
  color: red;

  cursor: pointer;
  margin-left: 3px;
  vertical-align: middle;
}
#end {
  text-align: center;
  color: rgb(9, 79, 184);
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  html {
    font-size: 70%;
  }
  h1 {
    font-size: 2rem;
  }
  h2{
    
    font-size: 1.4rem;
  }
  #container {
    padding: 10px;
  }
}
